.crypto-currency-card {
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    width: 300px;
}

.crypto-currency-card.card {
    height: 450px;
}

.card-footer-badge {
    font-size: 1rem;
}

.btn-view-rates {
    color: white;
    background-color: #4f5356;
    border-radius: 8px;
}